body {
    background-color: white;
  }
  
  header {
    background-color: darkgray;
    margin-bottom: 20px;
    
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
    
  }
  ul {
    list-style-type: none;
    width: 50%;
    float: right;
    margin: auto;
    padding-top: 10px;
  }
  
  li {
    display: inline;
    padding: 0px;
    margin-left: 30px;
    margin-right: 30px;
  
  }
  
  #logo {
    float: left;
    margin: 20px 0px 20px 100px;
    width: 200px;
    height: 70px;
    background-color: lightblue;
    z-index: +1;
  }
  #hero1 {
    width: 100%;
  }
  section {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  #hero-img {
    display: inline-block;
    background-color: lightblue;
    height: 450px;
    width: 960px;
  }
  .section1 {
    display: inline-block;
    width: 300px;
    height: 375px;
    background-color: rgb(122, 208, 236);
    margin: 12px;
  }
  
  section:nth-of-type(3) {
    display: flex;
    justify-content: center;
  }
  .section2 {
    width: 480px;
    height: 400px;}

  #text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 460px;
  }
  #text h4 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #button1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
  button {
    width: 200px;
    height: 40px;
  }
  textarea {
    height: 350px;
  }
  footer {
    background-color: darkgray;
    margin-bottom: 20px;
    height: 200px;
  }